#content {
    max-width: 960px;
    align-items: center;
    display: flex;
}

.row{
    margin-left: 0%;
    align-items: center;
}

.needs-validation{
    width: 100%;
}

.col-md-7 {
    flex: 0 0 auto;
    width: 100%;
}

.my-4{
    width: 100%

}