
{% block title %}회원가입{% endblock %}

{% load static %}
{% block extrastyle %}{% static "css/회원가입.css" %}{% endblock %}

{% block content %}


<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 구글 폰트: main.css보다 먼저 불러올 수 있도록 한다 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/회원가입.css">
    <title>회원가입</title>
    <!-- 파비콘(favorite icon) 설정 -->
    <link rel="icon" href="../../static/images/world.png" />
    <!--js-->
    <script defer src="../../static/js/main.js"></script>
  </head>



<div id="content">

	<div class="py-5 text-center">
		<img class="d-block mx-auto mb-4" src="../../static/images/world.png" alt="" width="60" height="57">
		<h1>회원가입</h1>
	</div>

	<form class="row g-5" action="." method="post">{% csrf_token %}
		{% if form.errors %}
		<p class="errornote">오류! 입력값을 확인바랍니다</p>
		{% endif %}

		<fieldset class="aligned">
			<div class="form-row">
				{{ form.username.label_tag }} {{ form.username }}
			</div>

			<div class="form-row">
				{{ form.password1.label_tag }} {{ form.password1 }}
			</div>

			<div class="form-row">
				{{ form.password2.label_tag }} {{ form.password2 }}
			</div>
		</fieldset>

		<div class="submit-row">
			<input type="submit" value="등록"/>
		</div>

		<script type="text/javascript">document.getElementById('id_username').focus();
		</script>
	</form>

</div>
{% endblock %}